<nav class="navbar">
  <div class="logo-area">
    <img src="/logo-intuitive-care.png" alt="Intuitive Care" class="logo" />
  </div>

  <ul class="menu">
    <li>
      <a
        routerLink="/operadoras"
        [class.active]="isOperadorasActive()"
      >
        Operadoras
      </a>
    </li>
    <li>
      <a
        routerLink="/operadoras/estatisticas"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Estatísticas
      </a>
    </li>
  </ul>
</nav>
