# =============================
# Arquivos de build
# =============================
target/
build/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# =============================
# IDEs
# =============================
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# =============================
# Logs, temporários e OS
# =============================
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db
desktop.ini

# =============================
# Lombok / Spring Boot DevTools
# =============================
lombok.config
spring-boot-devtools.properties
restart/

# =============================
# Pacotes / Artefatos
# =============================
*.jar
*.war
*.ear
*.class
